.employee {
  display: inline-block;
  margin: 20px 20px;
  background-color: olive;
  padding:10px 40px 10px 40px;
  font-size: 150%;
}
form {
  margin: 20px auto;
  max-width: 570px;
}
input {
  margin-right: 70px;
  margin-bottom: 20px;
}
h1 {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  background-color: rgb(36, 223, 189)
}
.employee label{
  display: inline-block;
}
p {
  display: inline-block;
  padding-left: 20px;
}
h3  {
  display: inline-block;
}
h2 {
  display: inline-block;
}
.monthlySalary3 {
  display: inline-block;
}
button {
  max-width: 20px;
  max-height: 30px;
  position: relative;
  top:-100px;
  left:220px;
  background-color: red;
}
